* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin ceneter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @include ceneter();
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.navigation-button {
  width: 10%;
  border: none;
  background-color: white;
}

.navigation-underline {
  width: 2px;
  border-left: 2px solid orange;
  height: 20px;
}
