* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin ceneter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  @include ceneter();
  flex-direction: column;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation-button {
  width: 10%;
  border: none;
  background-color: white;
}

.navigation-underline {
  display: block;
  width: 2px;
  border-left: 10px solid orange;
  height: 100px;
}

.navigation-button-container {
  display: flex;
  flex-direction: column;
}
