.meals-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: green;
  height: 200px;
  padding: 30px;
  gap: 20px;

  .heading {
    font-size: 30px;
    color: #fff;
  }

  input {
    width: 300px;
    border: none;
    border-radius: 25px;
    height: 40px;
    font-size: 15px;
    text-align: center;
  }
  button {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    cursor: pointer;
  }
}
