$menuBackground: #000;
$menuText: #fff;
$headerFont: #fff;
$expertiseFont: #702bb1;
$testimonialsBackgroundGrey: #f2f2f2;
$testimonialsFont: #702bb1;
$designCardBackground: #fff;
$designHeading: #702bb1;
$designButtonBackground: #702bb1;
$designButtonBackgroundHover: #d165f1;
$designButtonText: #fff;
$whatWeDoBackground: #fff6ef;
$whatWeDoCardBackground: #fff;
$whatWeDoHeading: #702bb1;
$whatWeDoButtonBackground: #702bb1;
$whatWeDoFont: #fff;
$teamHeading: #702bb1;
$teamCardBackground: #fff;
$teamCardBorder: #ff0000;
$formBorder: #fbc6d9;
$formItemBackground: #fff9fb;
$formButton: #702bb1;
$formButtonColor: #fff;
