.design {
  background: url("../images/header-background.jpg");
  background-size: cover;

  &-top-images {
    margin: 0 30px;
    .image1 {
      width: 100px;
      margin-right: 40%;
    }

    .image2 {
      position: relative;
      top: 50px;
      width: 80px;
      rotate: 90deg;
    }
  }

  > img {
    width: 200px;
    position: relative;
    right: -200px;
    margin-top: 50px;
  }

  &-card {
    background-color: $designCardBackground;
    border-radius: 25px;
    width: 70%;
    margin-left: 40px;
    padding: 40px 20px;
    position: relative;
    top: -70px;

    &-heading {
      color: $designHeading;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 20px;
    }

    &-content {
      line-height: 1.8;
      font-size: 20px;
      margin-bottom: 20px;
    }

    &-button {
      background-color: $designButtonBackground;
      border-radius: 25px;
      border: none;
      color: $designButtonText;
      font-size: 20px;
      width: 200px;
      padding: 20px;
      text-transform: uppercase;
      cursor: pointer;
    }

    &-button:hover {
      background-color: $designButtonBackgroundHover !important;
    }
  }

  .ring {
    position: relative;
    top: -150px;
    left: 100px;
    width: 170px;
  }

  .half-ring {
    position: relative;
    left: 60px;
    width: 130px;
  }
}
