.expertise {
  &-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    &-right {
      position: relative;
    }

    &-item {
      max-width: 480px;
      display: flex;
      flex-direction: column;
      margin: 40px 0;
      img {
        width: 120px;
        position: relative;
      }

      &-heading {
        color: $expertiseFont;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 20px 5px;
        position: relative;
      }

      &-content {
        line-height: 1.8;
        font-size: 20px;
        position: relative;
      }
    }
  }

  &-heading {
    width: 75%;
    font-size: 30px;
    color: $expertiseFont;
    font-weight: 700;
    margin: 30px auto;
    text-align: center;
  }
}

.heading-animation {
  animation: expertiseHeading 1s ease;
}

.image-animation {
  animation: expertiseImage 1s ease;
}

.text-animation {
  animation: expertiseText 1s ease;
}

@media only screen and (min-width: 768px) {
  .expertise {
    &-heading {
      width: 35%;
      font-size: 48px;
    }
    &-container {
      &-item {
        flex-direction: row;
        gap: 30px;
        margin: 0 auto;
      }
    }
  }
}
