@import "colors";
@import "config";
@import "animations";
@import "navbar";
@import "header";
@import "expertise";
@import "testimonials";
@import "design";
@import "what-we-do";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
