$colorBoxBackground: #fff;
$tableBackground: #32a88d;
$tableBorder: #000;
$background: #65e8fc;
$gameItemBorder: #000;
$playerName: #fff;
$buttonBackground: #32a88d;
$buttonText: #fff;
$colorsBackground: #32a88d;
$newNameBackground: #32a88d;
