.clients-words {
  background-color: #f9fafe;
  padding: 50px 16px;

  .clients-words-heading {
    font-size: 48px;
    @include font-secondary-italic;
    margin-bottom: 32px;
    color: #22252e;
  }

  .clients-words-content {
    @include font-primary-medium;
    margin-bottom: 50px;
    font-size: 20px;
    color: #6b728e;
    opacity: 0.8;
  }

  .clients-words-cards {
    display: flex;
    align-items: flex-end;
    margin-bottom: 32px;

    img {
      width: 80px;
      margin-right: 20px;
    }

    .first {
      width: 130px;
    }
  }

  .clients-words-client {
    font-size: 24px;
    @include font-primary-heavy;
    color: #22252e;
  }

  .clients-words-title {
    font-size: 16px;
    @include font-primary-heavy;
    color: #6b728e;
    margin-bottom: 32px;
  }

  .clients-words-text {
    @include font-primary-medium-italic;
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .clients-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    .clients-words-heading-container {
      .clients-words-heading {
        font-size: 90px;
      }
      .clients-words-content {
        width: 40%;
      }
    }
    .clients-words-cards {
      position: relative;
      height: 300px;
      width: 350%;
      .clients-words-cards-image {
        img,
        .first {
          width: 90px;
        }
      }

      .clients-words-cards-image:nth-child(1) {
        position: absolute;
        animation: image1 25s infinite;
      }
      .clients-words-cards-image:nth-child(2) {
        position: absolute;
        animation: image2 25s infinite;
      }
      .clients-words-cards-image:nth-child(3) {
        position: absolute;
        animation: image3 25s infinite;
      }
      .clients-words-cards-image:nth-child(4) {
        position: absolute;
        animation: image4 25s infinite;
      }
      .clients-words-cards-image:nth-child(5) {
        position: absolute;
        animation: image5 25s infinite;
      }
    }
    .clients-words-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      position: relative;
      border-left: 2px solid rgb(0, 0, 0, 0.2);
      padding: 0 20px;
      .clients-words-container-outter1 {
        animation: text1 25s infinite;
        position: absolute;
      }
      .clients-words-container-outter2 {
        animation: text2 25s infinite;
      }
      .clients-words-container-outter3 {
        animation: text3 25s infinite;
        position: absolute;
      }
      .clients-words-container-outter4 {
        animation: text4 25s infinite;
        position: absolute;
      }
      .clients-words-container-outter5 {
        animation: text5 25s infinite;
        position: absolute;
      }
      .clients-words-container-circle {
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: #317ade;
        border-radius: 50%;
        left: -1.5%;
        animation: circle 25s infinite;
      }
    }
    .clients-words-desktop {
      display: flex;
      margin: 0 auto;
      gap: 20%;
      width: 80%;
    }
  }
}
