$black: #000;
$white: #fff;
$gray: #808080;
$badinBlue: #1f70e0;
$backgroundGray: #f9fafe;
$lightBlue: #317ade;
$headingText: #22252e;
$backText: #6b728e;
$iconsBackground: #2c2d3c;
$iconsHover: #3a3b4d;
$offerOrange: #ed701d;
$offerGreen: #1ebf73;
