.footer {
  background-color: #1a1a1a;
  padding: 50px 16px;
  padding-bottom: 0;

  .footer-logo {
    img {
      width: 98px;
      height: 35px;
    }
  }

  .footer-beginning {
    font-size: 16px;
    opacity: 0.5;
    color: #fff;
    @include font-primary-medium;
    margin-top: 50px;
  }

  .footer-icons {
    display: flex;
    gap: 10px;
    margin: 50px 0;

    .footer-icons-item {
      background-color: #2c2d3c;
      padding: 10px;
      border-radius: 20px;
      @include center();
      aspect-ratio: 1/1;
      img {
        width: 70%;
      }
    }
  }

  .footer-cards {
    display: flex;
    flex-direction: column;

    .footer-cards-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
      .footer-cards-item-heading {
        @include font-primary-heavy;
        font-size: 20px;
        color: #fff;
        margin-bottom: 24px;
      }

      .footer-cards-item-link {
        @include font-primary-demi;
        font-size: 16px;
        color: #fff;
        margin-bottom: 10px;
        opacity: 0.5;
        text-decoration: none;
        width: 50%;
      }
    }
  }

  .footer-copyright {
    width: 100%;
    padding: 32px;
    border-top: 1px solid rgba(214, 193, 193, 0.2);

    p {
      opacity: 0.5;
      @include font-primary-demi;
      color: #fff;
      font-size: 16px;
      white-space: nowrap;
    }
  }
}
