.gallery-images {
  padding: 100px 16px;
  position: relative;
  img {
    width: 100%;
    margin: 16px 0;
    box-shadow: 0 0 20px gray;
    border-radius: 25px;
  }
  .desktop1 {
    display: none;
  }
  .desktop2 {
    display: none;
  }

  img {
    transition: 1s ease;
  }

  .gallery-container-hover {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    cursor: pointer;
    img {
      grid-row-start: 1;
      grid-column-start: 1;
    }

    .hover {
      display: none;
      position: absolute;
      left: 45%;
      top: 45%;
      width: 30px;
      height: 30px;
    }
  }

  .gallery-container-hover:hover,
  .hover:hover {
    img {
      filter: brightness(50%);
    }

    .hover {
      display: block;
      z-index: 1;
    }
  }
}

@media only screen and (min-width: 768px) {
  .gallery-images {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 50px;
    margin-bottom: 100px;

    .desktop1 {
      display: block;
    }
    .desktop2 {
      display: block;
    }
  }

  .gallery-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    gap: 30px;
    img:not(.desktop1) {
      width: 90%;
      margin-left: auto;
    }
  }
  .gallery-container-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    img {
      width: 90%;
    }
  }
  .gallery-container-middle {
    width: 30%;
    display: flex;
    align-items: center;
    img {
      height: 80%;
    }
  }

  .move {
    animation: flyInGallery 1s;
  }

  .zoomed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, 0.5);
    visibility: hidden;
    z-index: 1;
    @include center();
  }

  .zoomed-image {
    max-width: 600px;
    border-radius: 20px;
    max-height: 800px;
  }
}
