.hero {
  background-image: url("/images/header-hero/hero-bg.png");
  background-size: cover;
  height: 1000px;

  .hero-logo {
    animation: flyIn 0.5s ease-in;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 50px 16px;
    img {
      width: 98px;
      height: 35px;
    }
  }

  .hero-text {
    padding: 50px 16px;
    .hero-text-heading {
      animation: flyInTitle 0.9s ease-in;
      @include font-primary-heavy;
      font-size: 48px;
      color: #fff;
      margin-bottom: 32px;
    }

    .hero-text-content {
      animation: flyIn 0.9s ease-in;
      @include font-primary-heavy;
      font-size: 22px;
      color: #fff;
      line-height: 1.55;
      opacity: 0.5;
    }
  }

  .hero-buttons {
    animation: flyIn 1.1s ease-in;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    .hero-buttons-button1 {
      border-radius: 30px;
      border: none;
      background-color: #fff;
      @include font-primary-heavy;
      font-size: 24px;
      color: #000;
      margin-bottom: 16px;
      padding: 16px 32px;
      cursor: pointer;
      transition: 1s ease;
    }

    .hero-buttons-button2 {
      padding: 16px 32px;
      border-radius: 30px;
      border: none;
      background-color: #393939;
      color: #fff;
      @include font-primary-heavy;
      font-size: 24px;
      z-index: 1;
      cursor: pointer;
      transition: 1s ease;
    }

    .hero-buttons-button1:hover,
    .hero-buttons-button2:hover {
      opacity: 0.6;
    }
  }

  .hero-image-container {
    position: relative;

    .hero-image-container-image {
      position: relative;
      z-index: 1;
      animation: flyInImage 1s ease-in;

      img {
        width: 100%;
        position: relative;
        right: -15%;
        margin-top: 15%;
      }
    }
    .hero-image-container-grid img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -25%;
    }

    .hero-image-container-background img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 35%;
    }

    .hero-image-container-planet img {
      width: 12%;
      position: absolute;
      top: 25%;
      left: 30%;
    }

    .hero-image-container-tower1 {
      animation: flyInImage 1s ease-in;
      img {
        width: 20%;
        position: absolute;
        bottom: -10%;
        left: 10%;
      }
    }

    .hero-image-container-tower2 {
      animation: flyInImage 1s ease-in;

      img {
        width: 15%;
        position: absolute;
        right: 8%;
        bottom: 10%;
        z-index: 2;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    .hero-container-left {
      width: 80%;
      padding: 50px 300px;

      .hero-buttons {
        flex-direction: row;
        gap: 16px;

        .hero-buttons-button1 {
          margin-bottom: 0;
        }
      }
      .hero-text {
        width: 70%;
        .hero-text-heading {
          font-size: 90px;
          width: 130%;
        }
      }
    }

    .hero-container-right {
      width: 70%;
      position: relative;
      right: -20%;

      .hero-image-container {
        width: 70%;
        position: relative;
        right: -40%;
        top: -600px;
        .hero-image-container-planet {
          animation: flyInImage 1s ease-in;
        }
      }
    }
  }
}
