.hire-us {
  padding: 50px 16px;
  background-color: $white;

  .trusted-by-desktop {
    display: none;
  }

  .hire-us-start h2 {
    font-size: 48px;
    @include font-secondary-italic;
    color: $headingText;
    margin-bottom: 32px;
    position: relative;
  }

  .hire-us-start h2::before {
    content: "Need our help?";
    opacity: 0.1;
    font-size: 50px;
    @include font-primary-heavy;
    position: absolute;
    top: -60%;
  }

  .hire-us-content {
    @include font-primary-demi;
    opacity: 0.8;
    font-size: 16px;
    color: $backText;
    margin-bottom: 32px;
  }

  .hire-us-button {
    background-color: $lightBlue;
    font-size: 20px;
    @include font-primary-demi;
    color: $white;
    border-radius: 35px;
    border: none;
    padding: 12px 33px;
    cursor: pointer;
    transition: 1s ease;
  }
  .hire-us-button:hover {
    filter: brightness(80%);
  }
}

@media only screen and (min-width: 768px) {
  .hire-us {
    display: flex;
    flex-direction: row;
    padding: 0;
    .hire-us-container {
      width: 100%;
      background-color: $white;
      padding: 15% 10%;
      .hire-us-start h2 {
        font-size: 90px;
      }
      .hire-us-start h2::before {
        font-size: 90px;
      }
    }
    .trusted-by-desktop {
      display: block;
      width: 30%;
      background-color: $backgroundGray;
      text-align: center;
      padding-bottom: 150px;
      img {
        display: none;
        width: 60%;
        margin-bottom: 30px;
      }
      .trusted-by-heading {
        @include font-primary-demi;
        color: $backText;
        font-size: 16px;
        text-align: center;
        padding: 30px 0;
      }
    }
  }
}
