.offer {
  background-color: #f9fafe;
  padding: 50px 16px;
  .offer-heading {
    @include font-secondary-italic;
    font-size: 48px;
    margin-bottom: 32px;
    color: #22252e;
  }

  .offer-content {
    margin: 32px 0;
    font-size: 16px;
    @include font-primary-demi;
    color: #6b728e;
    opacity: 0.8;
  }

  .offer-button {
    color: #fff;
    background-color: #317ade;
    border-radius: 35px;
    border: none;
    padding: 12px 33px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .offer-cards-item-title-blue {
    padding: 16px 0;
    color: #317ade;
    font-size: 18px;
    @include font-primary-heavy;
  }

  .offer-cards-item-title-orange {
    padding: 16px 0;
    color: #ed701d;
    font-size: 18px;
    @include font-primary-heavy;
  }

  .offer-cards-item-title-green {
    padding: 16px 0;
    color: #1ebf73;
    font-size: 18px;
    @include font-primary-heavy;
  }

  .offer-cards-item-title-heading {
    font-size: 28px;
    @include font-primary-heavy;
  }

  .offer-cards-item-icons img {
    width: 40px;
    height: 40px;
    margin: 30px 5px;
  }

  .offer-cards-item-image1 img {
    width: 160px;
  }

  .offer-cards-item-image2 img {
    width: 275px;
  }

  .offer-cards-item-image3 img {
    width: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .offer {
    @include center();
    .offer-heading {
      width: 80%;
      font-size: 90px;
    }
    .offer-content {
      font-size: 20px;
    }
    .offer-container {
      width: 80%;
      .offer-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .offer-text-left {
          width: 50%;
        }
      }

      .offer-cards {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        .offer-cards-item {
          transition: transform 0.3s;
        }

        .offer-cards-item:hover {
          transform: scale(1.1);
          .blue {
            color: #317ade;
          }

          .orange {
            color: #ed701d;
          }

          .green {
            color: #1ebf73;
          }
        }
      }
    }
  }
}
