.trusted-by {
  padding: 50px 0;
  background-color: $backgroundGray;
  .trusted-by-container-title {
    text-align: center;
    @include font-primary-demi;
    font-size: 16px;
    color: $backText;
  }

  .trusted-by-container-clients {
    animation: scroll3 10s infinite forwards linear;
    display: flex;
    img {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 768px) {
  .trusted-by {
    display: none;
  }
}
