.why-badin {
  padding: 50px 16px;
  margin-bottom: 50px;

  .why-badin-heading {
    @include font-secondary-italic;
    font-size: 48px;
    margin-bottom: 32px;
    color: $headingText;
  }

  .why-badin-paragraph {
    margin: 32px 0;
    font-size: 16px;
    @include font-primary-demi;
    color: $headingText;
    opacity: 0.8;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 30px $gray;
  }
  .why-badin-image-hidden {
    text-align: center;
    display: none;
    img {
      width: 55%;
      border-radius: 20px;
      box-shadow: 0 0 20px $gray;
    }
  }
}

@media only screen and (min-width: 768px) {
  .why-badin {
    .why-badin-image-hidden {
      display: block;
      margin-bottom: 100px;
    }

    .why-badin-first {
      display: flex;
      gap: 15%;
      width: 70%;
      margin-left: 22%;

      .why-badin-heading {
        font-size: 90px;
      }
    }

    .why-badin-paragraph {
      font-size: 20px;
    }

    .why-badin-second {
      margin-left: 22%;
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      .why-badin-second-text {
        margin-right: 20%;
        width: 50%;

        .why-badin-paragraph {
          width: 150%;
        }
      }
      .why-badin-second-image {
        width: 100%;
        img {
          width: 120%;
          border-radius: 20px;
          box-shadow: 0 0 20px $gray;
        }
      }
    }
  }
}
