@font-face {
  font-family: "futura-pt";
  src: url("../fonts/FuturaPTBold.otf"), url("../fonts/FuturaPTBoldOblique.otf"), url("../fonts/FuturaPTBook.otf"), url("../fonts/FuturaPTBookOblique.otf"), url("../fonts/FuturaPTCondBold.otf"), url("../fonts/FuturaPTCondBoldOblique.otf"), url("../fonts/FuturaPTCondBook.otf"), url("../fonts/FuturaPTCondBookOblique.otf"), url("../fonts/FuturaPTCondExtraBold.otf"), url("../fonts/FuturaPTCondExtraBoldOblique.otf"), url("../fonts/FuturaPTCondMedium.otf"), url("../fonts/FuturaPTCondMediumOblique.otf"), url("../fonts/FuturaPTDemi.otf"), url("../fonts/FuturaPTDemiOblique.otf"), url("../fonts/FuturaPTExtraBold.otf"), url("../fonts/FuturaPTExtraBoldOblique.otf"), url("../fonts/FuturaPTCondMedium.otf"), url("../fonts/FuturaPTCondMediumOblique.otf"), url("../fonts/FuturaPTDemi.otf"), url("../fonts/FuturaPTDemiOblique.otf"), url("../fonts/FuturaPTExtraBold.otf"), url("../fonts/FuturaPTExtraBoldOblique.otf"), url("../fonts/FuturaPTHeavy.otf"), url("../fonts/FuturaPTHeavyOblique.otf"), url("../fonts/FuturaPTLight.otf"), url("../fonts/FuturaPTLightOblique.otf"), url("../fonts/FuturaPTMedium.otf"), url("../fonts/FuturaPTMediumOblique.otf");
}
@font-face {
  font-family: "lust";
  src: url("../fonts/lust-slim.ttf");
}
.hero {
  background-image: url("/images/header-hero/hero-bg.png");
  background-size: cover;
  height: 1000px;
}
.hero .hero-logo {
  -webkit-animation: flyIn 0.5s ease-in;
          animation: flyIn 0.5s ease-in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 50px 16px;
}
.hero .hero-logo img {
  width: 98px;
  height: 35px;
}
.hero .hero-text {
  padding: 50px 16px;
}
.hero .hero-text .hero-text-heading {
  -webkit-animation: flyInTitle 0.9s ease-in;
          animation: flyInTitle 0.9s ease-in;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  color: #fff;
  margin-bottom: 32px;
}
.hero .hero-text .hero-text-content {
  -webkit-animation: flyIn 0.9s ease-in;
          animation: flyIn 0.9s ease-in;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: #fff;
  line-height: 1.55;
  opacity: 0.5;
}
.hero .hero-buttons {
  -webkit-animation: flyIn 1.1s ease-in;
          animation: flyIn 1.1s ease-in;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}
.hero .hero-buttons .hero-buttons-button1 {
  border-radius: 30px;
  border: none;
  background-color: #fff;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #000;
  margin-bottom: 16px;
  padding: 16px 32px;
}
.hero .hero-buttons .hero-buttons-button2 {
  padding: 16px 32px;
  border-radius: 30px;
  border: none;
  background-color: #393939;
  color: #fff;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  z-index: 1;
}
.hero .hero-image-container {
  position: relative;
}
.hero .hero-image-container .hero-image-container-image {
  position: relative;
  z-index: 1;
  -webkit-animation: flyInImage 1s ease-in;
          animation: flyInImage 1s ease-in;
}
.hero .hero-image-container .hero-image-container-image img {
  width: 100%;
  position: relative;
  right: -15%;
  margin-top: 15%;
}
.hero .hero-image-container .hero-image-container-grid img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -25%;
}
.hero .hero-image-container .hero-image-container-background img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 35%;
}
.hero .hero-image-container .hero-image-container-planet img {
  width: 12%;
  position: absolute;
  top: 25%;
  left: 30%;
}
.hero .hero-image-container .hero-image-container-tower1 {
  -webkit-animation: flyInImage 1s ease-in;
          animation: flyInImage 1s ease-in;
}
.hero .hero-image-container .hero-image-container-tower1 img {
  width: 20%;
  position: absolute;
  bottom: -10%;
  left: 10%;
}
.hero .hero-image-container .hero-image-container-tower2 {
  -webkit-animation: flyInImage 1s ease-in;
          animation: flyInImage 1s ease-in;
}
.hero .hero-image-container .hero-image-container-tower2 img {
  width: 15%;
  position: absolute;
  right: 8%;
  bottom: 10%;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .hero .hero-container-left {
    width: 80%;
    padding: 50px 300px;
  }
  .hero .hero-container-left .hero-buttons {
    flex-direction: row;
    gap: 16px;
  }
  .hero .hero-container-left .hero-buttons .hero-buttons-button1 {
    margin-bottom: 0;
  }
  .hero .hero-container-left .hero-text {
    width: 70%;
  }
  .hero .hero-container-left .hero-text .hero-text-heading {
    font-size: 90px;
    width: 130%;
  }
  .hero .hero-container-right {
    width: 70%;
    position: relative;
    right: -20%;
  }
  .hero .hero-container-right .hero-image-container {
    width: 70%;
    position: relative;
    right: -40%;
    top: -600px;
  }
  .hero .hero-container-right .hero-image-container .hero-image-container-planet {
    -webkit-animation: flyInImage 1s ease-in;
            animation: flyInImage 1s ease-in;
  }
}
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 16px;
}
.clients .clients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.clients .clients-container img {
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .clients {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5%;
  }
}
.why-badin {
  padding: 50px 16px;
  margin-bottom: 50px;
}
.why-badin .why-badin-heading {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  margin-bottom: 32px;
  color: #22252e;
}
.why-badin .why-badin-paragraph {
  margin: 32px 0;
  font-size: 16px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #22252e;
  opacity: 0.8;
}
.why-badin img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 0 30px gray;
}
.why-badin .why-badin-image-hidden {
  text-align: center;
  display: none;
}
.why-badin .why-badin-image-hidden img {
  width: 55%;
  border-radius: 20px;
  box-shadow: 0 0 20px gray;
}

@media only screen and (min-width: 768px) {
  .why-badin .why-badin-image-hidden {
    display: block;
    margin-bottom: 100px;
  }
  .why-badin .why-badin-first {
    display: flex;
    gap: 15%;
    width: 70%;
    margin-left: 22%;
  }
  .why-badin .why-badin-first .why-badin-heading {
    font-size: 90px;
  }
  .why-badin .why-badin-paragraph {
    font-size: 20px;
  }
  .why-badin .why-badin-second {
    margin-left: 22%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .why-badin .why-badin-second .why-badin-second-text {
    margin-right: 20%;
    width: 50%;
  }
  .why-badin .why-badin-second .why-badin-second-text .why-badin-paragraph {
    width: 150%;
  }
  .why-badin .why-badin-second .why-badin-second-image {
    width: 100%;
  }
  .why-badin .why-badin-second .why-badin-second-image img {
    width: 120%;
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
  }
}
.offer {
  background-color: #f9fafe;
  padding: 50px 16px;
}
.offer .offer-heading {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  margin-bottom: 32px;
  color: #22252e;
}
.offer .offer-content {
  margin: 32px 0;
  font-size: 16px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #6b728e;
  opacity: 0.8;
}
.offer .offer-button {
  color: #fff;
  background-color: #317ade;
  border-radius: 35px;
  border: none;
  padding: 12px 33px;
  font-size: 20px;
  margin-bottom: 30px;
}
.offer .offer-cards-item-title-blue {
  padding: 16px 0;
  color: #317ade;
  font-size: 18px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.offer .offer-cards-item-title-orange {
  padding: 16px 0;
  color: #ed701d;
  font-size: 18px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.offer .offer-cards-item-title-green {
  padding: 16px 0;
  color: #1ebf73;
  font-size: 18px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.offer .offer-cards-item-title-heading {
  font-size: 28px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.offer .offer-cards-item-icons img {
  width: 40px;
  height: 40px;
  margin: 30px 5px;
}
.offer .offer-cards-item-image1 img {
  width: 160px;
}
.offer .offer-cards-item-image2 img {
  width: 275px;
}
.offer .offer-cards-item-image3 img {
  width: 250px;
}

@media only screen and (min-width: 768px) {
  .offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
  }
  .offer .offer-heading {
    width: 80%;
    font-size: 90px;
  }
  .offer .offer-content {
    font-size: 20px;
  }
  .offer .offer-container {
    width: 80%;
  }
  .offer .offer-container .offer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .offer .offer-container .offer-text .offer-text-left {
    width: 50%;
  }
  .offer .offer-container .offer-cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .offer .offer-container .offer-cards .offer-cards-item {
    transition: transform 0.3s;
  }
  .offer .offer-container .offer-cards .offer-cards-item:hover {
    transform: scale(1.1);
  }
  .offer .offer-container .offer-cards .offer-cards-item:hover .blue {
    color: #317ade;
  }
  .offer .offer-container .offer-cards .offer-cards-item:hover .orange {
    color: #ed701d;
  }
  .offer .offer-container .offer-cards .offer-cards-item:hover .green {
    color: #1ebf73;
  }
}
.clients-words {
  background-color: #f9fafe;
  padding: 50px 16px;
}
.clients-words .clients-words-heading {
  font-size: 48px;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 32px;
  color: #22252e;
}
.clients-words .clients-words-content {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 50px;
  font-size: 20px;
  color: #6b728e;
  opacity: 0.8;
}
.clients-words .clients-words-cards {
  display: flex;
  align-items: flex-end;
  margin-bottom: 32px;
}
.clients-words .clients-words-cards img {
  width: 80px;
  margin-right: 20px;
}
.clients-words .clients-words-cards .first {
  width: 130px;
}
.clients-words .clients-words-client {
  font-size: 24px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #22252e;
}
.clients-words .clients-words-title {
  font-size: 16px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #6b728e;
  margin-bottom: 32px;
}
.clients-words .clients-words-text {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 20px;
}

@media only screen and (min-width: 768px) {
  .clients-words {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clients-words .clients-words-heading-container .clients-words-heading {
    font-size: 90px;
  }
  .clients-words .clients-words-heading-container .clients-words-content {
    width: 40%;
  }
  .clients-words .clients-words-cards {
    position: relative;
    height: 300px;
    width: 350%;
  }
  .clients-words .clients-words-cards .clients-words-cards-image img,
.clients-words .clients-words-cards .clients-words-cards-image .first {
    width: 90px;
  }
  .clients-words .clients-words-cards .clients-words-cards-image:nth-child(1) {
    position: absolute;
    -webkit-animation: image1 25s infinite;
            animation: image1 25s infinite;
  }
  .clients-words .clients-words-cards .clients-words-cards-image:nth-child(2) {
    position: absolute;
    -webkit-animation: image2 25s infinite;
            animation: image2 25s infinite;
  }
  .clients-words .clients-words-cards .clients-words-cards-image:nth-child(3) {
    position: absolute;
    -webkit-animation: image3 25s infinite;
            animation: image3 25s infinite;
  }
  .clients-words .clients-words-cards .clients-words-cards-image:nth-child(4) {
    position: absolute;
    -webkit-animation: image4 25s infinite;
            animation: image4 25s infinite;
  }
  .clients-words .clients-words-cards .clients-words-cards-image:nth-child(5) {
    position: absolute;
    -webkit-animation: image5 25s infinite;
            animation: image5 25s infinite;
  }
  .clients-words .clients-words-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: relative;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0 20px;
  }
  .clients-words .clients-words-container .clients-words-container-outter1 {
    -webkit-animation: text1 25s infinite;
            animation: text1 25s infinite;
    position: absolute;
  }
  .clients-words .clients-words-container .clients-words-container-outter2 {
    -webkit-animation: text2 25s infinite;
            animation: text2 25s infinite;
  }
  .clients-words .clients-words-container .clients-words-container-outter3 {
    -webkit-animation: text3 25s infinite;
            animation: text3 25s infinite;
    position: absolute;
  }
  .clients-words .clients-words-container .clients-words-container-outter4 {
    -webkit-animation: text4 25s infinite;
            animation: text4 25s infinite;
    position: absolute;
  }
  .clients-words .clients-words-container .clients-words-container-outter5 {
    -webkit-animation: text5 25s infinite;
            animation: text5 25s infinite;
    position: absolute;
  }
  .clients-words .clients-words-container .clients-words-container-circle {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #317ade;
    border-radius: 50%;
    left: -1.5%;
    -webkit-animation: circle 25s infinite;
            animation: circle 25s infinite;
  }
  .clients-words .clients-words-desktop {
    display: flex;
    margin: 0 auto;
    gap: 20%;
    width: 80%;
  }
}
.hire-us {
  padding: 50px 16px;
  background-color: #fff;
}
.hire-us .trusted-by-desktop {
  display: none;
}
.hire-us .hire-us-start h2 {
  font-size: 48px;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  color: #22252e;
  margin-bottom: 32px;
  position: relative;
}
.hire-us .hire-us-start h2::before {
  content: "Need our help?";
  opacity: 0.1;
  font-size: 50px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: -60%;
}
.hire-us .hire-us-content {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  opacity: 0.8;
  font-size: 16px;
  color: #6b728e;
  margin-bottom: 32px;
}
.hire-us .hire-us-button {
  background-color: #317ade;
  font-size: 20px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  border-radius: 35px;
  border: none;
  padding: 12px 33px;
}

@media only screen and (min-width: 768px) {
  .hire-us {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
  .hire-us .hire-us-container {
    width: 100%;
    background-color: #fff;
    padding: 15% 10%;
  }
  .hire-us .hire-us-container .hire-us-start h2 {
    font-size: 90px;
  }
  .hire-us .hire-us-container .hire-us-start h2::before {
    font-size: 90px;
  }
  .hire-us .trusted-by-desktop {
    display: block;
    width: 30%;
    background-color: #f9fafe;
    text-align: center;
    padding-bottom: 150px;
  }
  .hire-us .trusted-by-desktop img {
    width: 60%;
    margin-bottom: 30px;
  }
  .hire-us .trusted-by-desktop .trusted-by-heading {
    font-family: futura-pt, "Arial Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #6b728e;
    font-size: 16px;
    text-align: center;
    padding: 30px 0;
  }
}
.trusted-by {
  padding: 50px 0;
  background-color: #f9fafe;
}
.trusted-by .trusted-by-container-title {
  text-align: center;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #6b728e;
}
.trusted-by .trusted-by-container-clients {
  -webkit-animation: scroll3 10s infinite forwards linear;
          animation: scroll3 10s infinite forwards linear;
  display: flex;
}
.trusted-by .trusted-by-container-clients img {
  width: 50%;
}

@media only screen and (min-width: 768px) {
  .trusted-by {
    display: none;
  }
}
.jobs {
  padding: 50px 16px;
  padding-top: 130px;
  background-color: #f9fafe;
}
.jobs .jobs-header h2 {
  font-size: 48px;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  color: #22252e;
  margin-bottom: 32px;
  position: relative;
}
.jobs .jobs-header h2::before {
  content: "Open positions";
  opacity: 0.1;
  font-size: 70px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  color: #6b728e;
  top: -140%;
  line-height: 0.74;
}
.jobs .jobs-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jobs .jobs-cards .jobs-cards-item {
  background-color: white;
  border-radius: 10px;
  padding: 24px 16px;
  box-shadow: 0 0 20px #f0f1f4;
  margin-bottom: 50px;
  width: 100%;
}
.jobs .jobs-cards .jobs-cards-item .jobs-cards-item-title {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: #22252e;
  margin-bottom: 32px;
}
.jobs .jobs-cards .jobs-cards-item .jobs-cards-item-button {
  border: none;
  border-radius: 35px;
  background-color: #317ade;
  color: #fff;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  padding: 12px 33px;
}
.jobs .jobs-cards .jobs-cards-item .jobs-cards-item-button .jobs-cards-item-button-apply {
  display: flex;
}
.jobs .jobs-cards .jobs-cards-item .jobs-cards-item-button .jobs-cards-item-button-apply img {
  width: 20px;
  margin-left: 16px;
}
.jobs .jobs-cards .jobs-cards-all {
  border: none;
  background-color: #000;
  border-radius: 35px;
  color: #fff;
  padding: 16px 32px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .jobs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .jobs .jobs-header h2 {
    font-size: 90px;
  }
  .jobs .jobs-header h2::before {
    top: -50%;
    font-size: 150px;
    width: 120%;
  }
  .jobs .jobs-container {
    width: 60%;
  }
  .jobs .jobs-container .jobs-cards-all {
    width: 30%;
  }
}
.gallery-images {
  padding: 100px 16px;
}
.gallery-images img {
  width: 100%;
  margin: 16px 0;
  box-shadow: 0 0 20px gray;
  border-radius: 25px;
}
.gallery-images .desktop1 {
  display: none;
}
.gallery-images .desktop2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  .gallery-images {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 50px;
    margin-bottom: 100px;
  }
  .gallery-images .gallery-container-hover {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
  }
  .gallery-images .gallery-container-hover img {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .gallery-images .gallery-container-hover .hover {
    display: none;
    position: absolute;
    left: 45%;
    top: 45%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }
  .gallery-images .gallery-container-hover:hover .hover {
    display: block;
    z-index: 1000;
  }
  .gallery-images img {
    background: url("images/gallery/zoom-in.png");
    transition: 1s ease;
  }
  .gallery-images img:hover {
    filter: brightness(50%);
  }
  .gallery-images .desktop1 {
    display: block;
  }
  .gallery-images .desktop2 {
    display: block;
  }
  .gallery-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    gap: 30px;
  }
  .gallery-container-left img:not(:last-child) {
    width: 90%;
  }
  .gallery-container-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .gallery-container-middle {
    width: 30%;
    display: flex;
    align-items: center;
  }
  .gallery-container-middle img {
    height: 80%;
  }
}
.expertise {
  background-color: #1f70e0;
  padding: 50px 16px;
}
.expertise .mobile {
  display: block;
}
.expertise p {
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 48px;
  color: #fff;
  width: 70%;
}
.expertise span {
  font-size: 32px;
  white-space: nowrap;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 20px 0;
  color: #fff;
  opacity: 0.5;
  padding: 0 30px;
}
.expertise .expertise-technologies-left {
  display: flex;
  -webkit-animation: scroll1 10s infinite linear alternate;
          animation: scroll1 10s infinite linear alternate;
}
.expertise .expertise-technologies-right {
  display: flex;
  -webkit-animation: scroll2 10s infinite linear alternate;
          animation: scroll2 10s infinite linear alternate;
}

@media only screen and (min-width: 768px) {
  .expertise .expertise-heading {
    width: 100%;
    text-align: center;
    font-size: 90px;
    margin: 50px 0;
  }
  .expertise .mobile {
    display: none;
  }
  .expertise .expertise-technologies-left {
    -webkit-animation: scroll1 30s infinite linear alternate;
            animation: scroll1 30s infinite linear alternate;
  }
  .expertise .expertise-technologies-right {
    -webkit-animation: scroll2 30s infinite linear alternate;
            animation: scroll2 30s infinite linear alternate;
  }
}
.info {
  padding: 150px 16px;
}
.info .info-heading h2 {
  font-size: 48px;
  font-family: lust, "Courier", serif;
  font-weight: 700;
  font-style: italic;
  color: #22252e;
  margin-bottom: 32px;
  position: relative;
}
.info .info-heading h2::before {
  content: "Are you ready?";
  opacity: 0.1;
  font-size: 70px;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: -70%;
  line-height: 0.74;
}
.info img {
  width: 100%;
  margin-top: 50px;
}
.info .info-email {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
  text-decoration: underline;
  color: #000;
}

@media only screen and (min-width: 768px) {
  .info {
    padding: 50px 150px;
  }
  .info img {
    width: 35%;
    margin-left: 70%;
    margin-top: -20%;
  }
  .info .info-heading h2 {
    margin-top: 10%;
    font-size: 90px;
    width: 80%;
  }
  .info .info-heading h2::before {
    font-size: 150px;
    white-space: nowrap;
    top: -30%;
  }
}
.footer {
  background-color: #1a1a1a;
  padding: 50px 16px;
  padding-bottom: 0;
}
.footer .footer-logo img {
  width: 98px;
  height: 35px;
}
.footer .footer-beginning {
  font-size: 16px;
  opacity: 0.5;
  color: #fff;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 50px;
}
.footer .footer-icons {
  display: flex;
  gap: 10px;
  margin: 50px 0;
}
.footer .footer-icons .footer-icons-item {
  background-color: #2c2d3c;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.footer .footer-icons .footer-icons-item img {
  width: 70%;
}
.footer .footer-cards {
  display: flex;
  flex-direction: column;
}
.footer .footer-cards .footer-cards-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.footer .footer-cards .footer-cards-item .footer-cards-item-heading {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  margin-bottom: 24px;
}
.footer .footer-cards .footer-cards-item .footer-cards-item-link {
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
  opacity: 0.5;
  text-decoration: none;
  width: 50%;
}
.footer .footer-copyright {
  width: 100%;
  padding: 32px;
  border-top: 1px solid rgba(214, 193, 193, 0.2);
}
.footer .footer-copyright p {
  opacity: 0.5;
  font-family: futura-pt, "Arial Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
}

@media only screen and (min-width: 768px) {
  .footer .footer-container {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-between;
    margin: 30px 120px;
    border-bottom: 1px solid rgba(214, 193, 193, 0.2);
  }
  .footer .footer-container .footer-cards {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .footer .footer-copyright {
    text-align: center;
    border: none;
  }
}
@-webkit-keyframes flyIn {
  0% {
    translate: 0 50%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes flyIn {
  0% {
    translate: 0 50%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@-webkit-keyframes flyInTitle {
  0% {
    translate: 0 20%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes flyInTitle {
  0% {
    translate: 0 20%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@-webkit-keyframes flyInImage {
  0% {
    translate: 50% 10%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@keyframes flyInImage {
  0% {
    translate: 50% 10%;
    opacity: 0;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}
@-webkit-keyframes scroll1 {
  from {
    translate: -210% 0;
  }
}
@keyframes scroll1 {
  from {
    translate: -210% 0;
  }
}
@-webkit-keyframes scroll2 {
  to {
    translate: -210% 0;
  }
}
@keyframes scroll2 {
  to {
    translate: -210% 0;
  }
}
@-webkit-keyframes scroll3 {
  to {
    translate: -2000px 0;
  }
}
@keyframes scroll3 {
  to {
    translate: -2000px 0;
  }
}
@-webkit-keyframes image1 {
  0% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  20% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  40% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  60% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  80% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  100% {
    top: 0;
    left: 40%;
    scale: 1;
  }
}
@keyframes image1 {
  0% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  20% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  40% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  60% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  80% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  100% {
    top: 0;
    left: 40%;
    scale: 1;
  }
}
@-webkit-keyframes image2 {
  0% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  20% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  40% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  60% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  80% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  100% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
}
@keyframes image2 {
  0% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  20% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  40% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  60% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  80% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  100% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
}
@-webkit-keyframes image3 {
  0% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  20% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  40% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  60% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  80% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  100% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
}
@keyframes image3 {
  0% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  20% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  40% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  60% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  80% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  100% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
}
@-webkit-keyframes image4 {
  0% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  20% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  40% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  60% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  80% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  100% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
}
@keyframes image4 {
  0% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  20% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  40% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  60% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  80% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  100% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
}
@-webkit-keyframes image5 {
  0% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  20% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  40% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  60% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  80% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  100% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
}
@keyframes image5 {
  0% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
  20% {
    top: 0;
    left: 40%;
    scale: 1;
  }
  40% {
    top: 30%;
    left: 70%;
    scale: 1.5;
  }
  60% {
    top: 90%;
    left: 50%;
    scale: 1;
  }
  80% {
    top: 80%;
    left: 5%;
    scale: 1;
  }
  100% {
    top: 10%;
    left: 15%;
    scale: 1;
  }
}
@-webkit-keyframes text1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes text2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text2 {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes text3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text3 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes text4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text4 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes text5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes text5 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes circle {
  0% {
    top: 10%;
  }
  20% {
    top: 25%;
  }
  40% {
    top: 40%;
  }
  60% {
    top: 55%;
  }
  80% {
    top: 70%;
  }
  100% {
    top: 10%;
  }
}
@keyframes circle {
  0% {
    top: 10%;
  }
  20% {
    top: 25%;
  }
  40% {
    top: 40%;
  }
  60% {
    top: 55%;
  }
  80% {
    top: 70%;
  }
  100% {
    top: 10%;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  rotate: -90deg;
  position: fixed;
  top: 45%;
  left: 2%;
  color: #fff;
  cursor: pointer;
}
.menu span {
  margin: 2px;
  background-color: #fff;
  width: 2px;
  height: 15px;
  display: inline-block;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}/*# sourceMappingURL=index.css.map */