@import "config";
@import "font";
@import "hero";
@import "clients";
@import "why-badin";
@import "offer";
@import "clients-words";
@import "hire-us";
@import "trusted-by";
@import "jobs";
@import "gallery";
@import "expertise";
@import "info";
@import "footer";
@import "animations";
@import "menu";
@import "back-to-top";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
